<h3>Welcome to BlackJack <%= session[:name] %> </h3>

<form method="get" action="/game">
<blockquote>
<p>Please place your bet</p>
<p>You have <strong><%= session[:stash] %>$</strong></p>
</blockquote>
<div class="input-prepend">
  <span class="add-on">Bet:</span>
  <input class="span2" id="prependedInput" type="text" name="bet">
<button class="btn btn-primary" type="Submit">Place Bet</button>
</div>
</form>