
<div id="main-left">
<img src="/images/splash.jpg">

<form method="get" action="/bet" id="start">
<div class="input-prepend">
  <span class="add-on">What is your name?</span>
  <input class="span2 big" id="prependedInput" type="text" placeholder="Name" name="name">
<input class="btn btn-primary" type="submit" id="startbtn" value="start game">
<br/>
</div>
</form> 
</div>

<div id="main-right">
  <div class="alert alert-info">

<p>
Blackjack, also known as twenty-one, is the most widely played casino banking game in the world.Blackjack is a comparing card game between a player and dealer, meaning that players compete against the dealer but not against any other players. It is played with one or more decks of 52 cards. The object of the game is to "beat the dealer", which can be done in a number of ways:</p>
<strong>
<ul>
  <li>Get 21 points on your first two cards (called a blackjack), without a dealer blackjack</li>
  <li>Reach a final score higher than the dealer without exceeding 21</li>
  <li>Let the dealer draw additional cards until his hand exceeds 21.</li>
</ul>
</strong>
<p>The player or players are dealt an initial two-card hand and add together the value of their cards. Face cards (kings, queens, and jacks) are counted as ten points. A player and the dealer can count his or her own ace as 1 point or 11 points. All other cards are counted as the numeric value shown on the card. After receiving their initial two cards, players have the option of getting a "hit", or taking an additional card. In a given round, the player or the dealer wins by having a score of 21 or by having the highest score that is less than 21. Scoring higher than 21 (called "busting" or "going bust") results in a loss. A player may win by having any final score equal to or less than 21 if the dealer busts. If a player holds an ace valued as 11, the hand is called "soft", meaning that the player cannot go bust by taking an additional card; otherwise, the hand is "hard".</p>

</div>
</div>