<h2> Welcome to BlackJack!</h2>

<img src="/images/opendeck.gif">

<form method="get" action="/bet">

<div class="input-prepend">
  <span class="add-on">What is your name?</span>
  <input class="span2" id="prependedInput" type="text" placeholder="Name" name="name">
<button class="btn btn-primary" type="submit">Start Game</button>
</div>

</form>

