
<blockquote>
<p><%=session[:name]%>, you have gathered a total of <strong><%=session[:stash]%>$</strong></p>
<p>Hope you enjoyed the game</p>
<p>You can always <a href="/">start over</a></p>  
</blockquote>

<%session.clear%>


