form#hit {
  float: left;
  margin-right: 10px;
}

.big {
  font-size: 25px;
  font-weight: bold;
}

form#stay {
  float: left; 
}

img.shadow {
  -webkit-box-shadow: 3px 3px 3px #7C7C7C;
  box-shadow:10px 10px 10px #cccc;
  margin-right: 10px;
}

.big {
  font-size: 18px;
}

form#play_again {
  float: left;
  margin-right: 10px;
}

form#end {
  float: left;
}

.container {
  background-color: white;
}

body {
  background: url(/images/pattern.gif);
}

.main {
  padding:15px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #333;
}

#main-left {
  float: left;
}

#main-left img {
  margin-bottom: 10px;
}

#main-right {
  float: left;
  width: 510px;
  margin-left: 25px;
  border-left: 1px dashed #ccc;
  padding: 10px;
  font-size: 11px;
}

.navbar-inner {
  background-color: #333;
  background-image: none;
  color: white;
  }

.navbar-inner .container {
  background-color: #333;
}

.navbar .nav > li > a {   
  color: white;
  text-shadow: none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: green;
    }
